@using OpenRent.Pages.Models.Components
@using OpenRent.Pages.Enums
@model Hero

@{
    string containerClass = "";
    string fontClass = "";
    if (Model.IsPrimary && !Model.IsInverse)
    {
        containerClass += "hero-primary";
        fontClass += "primary";
    }
    else if (Model.IsPrimary && Model.IsInverse)
    {
        containerClass += "hero-primary_inverse";
        fontClass += "primary_inverse";
    }
}

<div class="hero @containerClass">
    <h1 class="dm-sans-h1 @fontClass">@Model.Title</h1>
    <p class="dm-sans-body @fontClass">
        @Model.Body
    </p>
    <div class="button-container">
        @if (Model.Buttons != null) {
            foreach (var button in Model.Buttons)
            {
                @await Html.PartialAsync("_Button", button);
            }
        }
    </div>
</div>